<div>
    <ul class="breadcrumb">
            <li>
                    <a href="#">Home</a>
            </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="row-fluid">
            <!-- L O C A L I Z A T I O N examples -->
            <h2>{{'_Greeting_' | i18n}}</h2>
            <p data-i18n="_Intro_"></p>

            <p data-i18n="_InfoRefs_"></p>
            <br/>
            <p><span data-i18n="_Intro2_"></span><a href='#/howto'>HOWTO</a></p>
            
        </div>
    </div>
</div>